notebook
jupyter
ipyweights
seutil~=0.8.10
datasets~=3.0.0
nltk~=3.9
pandas
matplotlib
seaborn
tree-sitter
tree-sitter-go
tree-sitter-java
tree-sitter-javascript
tree-sitter-php
tree-sitter-python
tree-sitter-ruby
